*
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body
{
    scroll-behavior: smooth;
}


/* nav bar */
nav
{
    width: 90%;
    margin-inline: auto;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Helvetica;
    margin-top: 1em;
}

nav h2 
{
    font-size: 2em;
    color: #787878;
    width: 3em;
    letter-spacing: 10px;
}

nav ul
{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    font-size: 1.8em;
}

nav ul li a
{
    text-decoration: none;
    color: #000000;
}


/* Main text */
#main_text
{
    font-size: 300%;
    font-family: Helvetica;
    width: fit-content;
    text-align: center;
    position: absolute;

    letter-spacing: 30px;

    top: 50%;
    transform: translateY(-50%);

    left: 50%;
    transform: translateX(-50%);

    
}


#login_logo svg
{
    text-decoration: none;
    color: black;
}



/* oferta */


.section
{
    height: 100vh;
}

.oferta_section
{
    height: 130vh;
}

#oferta{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#silne_hasla
{
    width: 100%;
    height: fit-content;
    display: flex;

    background-color: #0C0C0C;
}

#silne_hasla .lewo
{
    width: 50%;
    background-color: #0C0C0C;
    color: #ffffff;
    font-family: Helvetica;
    height: 100%;
}

#silne_hasla .lewo h2
{
    text-align: center;
    margin-top: 1em;
    font-size: 200%;
}

#silne_hasla .lewo p
{
    width: 50%;
    margin-top: 1em;
    margin-left: 33%;
    font-size: 120%;
}

#silne_hasla img
{
    width: 50%;
}

#info_skaner
{
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: #1D192B;
}

#info_skaner .prawo
{
    width: 50%;
    background-color: #1D192B;
    color: #ffffff;
    font-family: Helvetica;
    height: 100%;
}

#info_skaner .prawo h2
{
    text-align: center;
    margin-top: 1em;
    font-size: 200%;
}

#info_skaner .prawo p
{
    width: 50%;
    margin-top: 1em;
    margin-left: 33%;
    font-size: 120%;
}

#info_skaner img 
{
    width: 50%;
}

#biznes
{
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: #5E6E7E;
}  

#biznes .lewo
{
    width: 50%;
    background-color: #5E6E7E;
    color: #ffffff;
    font-family: Helvetica;
    height: 100%;
}

#biznes .lewo p
{
    width: 50%;
    margin-top: 1em;
    margin-left: 33%;
    font-size: 120%;
}

#biznes .lewo h2{

    text-align: center;
    margin-top: 1em;
    font-size: 200%;
}

#biznes img 
{
    width: 50%;
}


/* footer */
footer
{
    width: 100%;
    height: 50vh;
    background-color: #0C0C0C;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Helvetica;
    font-weight: bold;
}

footer a 
{
    text-decoration: none;
    color: white;
}

footer h3
{
    letter-spacing: 10px;
}

footer ul
{
    list-style: none;
    text-align: center;
}
#contact
{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
